
{% extends "base.html" %}

{% block content %}

<div class="container bg-danger mt-5 py-5">

    <div class="row justify-content-center">

        <div class="col-md-8 com-lg-6">

            <h2 class="mb-4 text-center">
                {% if pokemon %} Editar Pokémon
                {% else %} Cadastrar Pokémon {%endif%}
            </h2>

            <form method="post">
            {% csrf_token %} {{ form.as_p }}

                <div class="d-flex gap-2 mt-3">

                    <button type="submit" class="btn btn-primary flex-fill text-warning">

                        Salvar

                    </button>

                    <a href="{% url 'home'%}" class="btn btn-dark text-warning">

                        Voltar

                    </a>

                    
                </div>


            </form>

        </div>

    </div>

</div>

{% endblock %}









